.container {
  min-height: 100vh;
  display: flex;
  padding: 0 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > main {
  padding: 5rem 0;
  flex: 1;
  display: flex;

  min-width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > main > section {
  width: 100%;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container > main > section > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-basis: calc(100% / 7.3);
  height: 100%;
}

.container > main > section > *:first-child {
  flex-basis: 5rem;
  color: var(--washed);
}

.container > main > section > * + * {
  margin-left: 1rem;
}
